body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    margin: 20;
    padding: 0;
}

input[type="range"] {
    width: 200px;
}

.layout {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sidebar {
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #26C485;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #31D895;
}

.button:disabled {
    background-color: #87E8C1;
}

.decision {
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 75px;
    transition: background-color 0.3s ease;
}

.image {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.message {
    color: #4caf50;
    margin-top: 10px;
    width: 100%;
    transition: opacity 0.5s ease;
}

#ingotId {
    display: inline;
}